body {
  margin: 0;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, violet, indigo, red, green, yellow );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  min-height: 100vh;
}

/* styles.css or your preferred CSS file */
.heading {
  color: #ffffff; /* Change the color to your preference */
  font-size: 2rem; /* Adjust the font size */
  /* Add any other custom styles you want */
}


.container {
  text-align: center;
  padding: 20px;
}

.form-control {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjusted to space between the cards */
  gap: 20px;
}

.card {
  background: #033814;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  flex: 0 0 calc(25% - 20px);
  margin: 20px;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.01);
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  color: #fff;
  font-size: 18px;
  margin-top: 0;
}
